@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.pokemon-card {
    position: relative;
    max-width: 345px;
    border-radius: 15px;
    background-color: black;
    border: 2px solid white;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.pokemon-card.hovered {
    background-color: rgba(255, 255, 255, 0.1);
}

.pokemon-card-conteudo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: auto;
}

.pokemon-card-conteudo-nome-tipo {
    font-family: 'Chakra Petch', Courier, monospace;
    font-weight: 700;
    font-size: 22px;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin: 10px;
}

.pokemon-card-conteudo-nome-tipo h6 {
    color: #666;
    font-weight: 500;
}
