.cadastro-div-principal {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(18, 18, 20);
    overflow: hidden;
    /* Impede que haja barra de rolagem vertical */
}

.cadastro-div-direito {
    margin-top: 2%;
    width: 40%;
    height: 90%;
    background-color: rgb(248, 192, 200);
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom-right-radius: 135px;
    border-top-right-radius: 135px;
}

.cadastro-div-esquerdo {
    width: 60%;
    height: 100%;
    background-color: rgb(18, 18, 20);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cadastro-div-conteudo-direito {
    margin: 5%;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cadastro-div-conteudo-esquerdo {
    bottom: 10%;
    position: relative;
    width: 60%;
    height: 67%;
    background-color: rgb(248, 192, 200);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 35px;
    z-index: 1;
}

.cadastro-img {
    width: 55%;
    transform: scaleX(-1);
}

.cadastro-label {
    display: block;
    color: black;
    margin-bottom: 5px;
    font-family: 'Chakra Petch', Courier, monospace;
    font-weight: 700;
}

.cadastro-input {
    font-family: 'Chakra Petch', Courier, monospace;
    font-weight: 300;
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 5px;
    border: 4px solid black;
    font-size: 20px;
}

.cadastro-img-logo-pokedex {
    width: 40%;
    position: relative;
    bottom: 2%;
    z-index: 2;
}

