

.home-div-principal {
    width: 100%;
    height: auto;
    background-color: rgb(18, 18, 20);
}

.home-div-conteudo-top {

    text-align: center;
    padding: 20px;
    /* Altera a margem de todo conteudo */
}

.home-div-pokemons-populares {
    width: 81.38%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.207);
    border-radius: 15px;
    border: 2px solid white;
    margin: auto;
    display: flex;
}

.home-div-pokemons-populares-top1 {
    width: 20%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 2px solid white;
}

.home-div-pokemons-populares-top2 {
    width: 20%;
    height: 100%;
    border-right: 2px solid white;
}

.home-div-pokemons-populares-top3 {
    width: 20%;
    height: 100%;
    border-right: 2px solid white;
}

.home-div-pokemons-populares-top4 {
    width: 20%;
    height: 100%;
    border-right: 2px solid white;
}

.home-div-pokemons-populares-top5 {
    width: 20%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.home-div-pokemons-linha {
    position: absolut;
    background-color: transparent;
    width: 100%;
    height: 20%;
    border-top-left-radius: 15px;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.home-h2-top5 {
    position: relative;
    left: 7%;
    bottom: 19%;
}

.home-img-medalha {
    width: 50px;
    height: auto;
    display: flex;
}

.home-img-charizard {
    width: 90%;
}

.home-img-gengar {
    width: 88%;
}

.home-img-bulbasaur {
    width: 81.5%;
}

.home-img-blaziken {
    width: 64%;
}

.home-img-umbreon {
    width: 72%;
}

/* NOTICIAS */

.home-div-conteudo-noticias {
    text-align: center;
    padding: 20px;
    /* Altera a margem de todo conteudo */
}

.home-div-noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;

}

.home-img-noticia {
    width: 70%;
}

.home-div-noticias-1 {
    background-color: rgba(66, 129, 231, 0.322);
    border: 2px solid white;
    width: 30%;
    margin-bottom: 3%;
}

.home-div-noticias-2 {
    background-color: rgb(241, 174, 190, 0.322);
    border: 2px solid white;
    width: 30%;
    margin-bottom: 3%;
}

.home-div-noticias-3 {
    background-color: rgb(224, 155, 210, 0.322);
    border: 2px solid white;
    width: 30%;
    margin-bottom: 3%;
}

.home-div-noticias-4 {
    background-color: rgb(176, 225, 255, 0.322);
    border: 2px solid white;
    width: 30%;
}

.home-div-noticias-5 {
    background-color: rgb(191, 220, 234, 0.322);
    border: 2px solid white;
    width: 30%;
}

.home-div-noticias-6 {
    background-color: rgb(240, 228, 130, 0.322);
    border: 2px solid white;
    width: 30%;
}

/* Estilos para telas entre 4000px e 4500px de largura */
@media screen and (min-width: 5000px) and (max-width: 6000px) {
    
    h1 {
        font-size: 100px;
    }

    h3 {
        font-size: 60px;
    }

    .home-h2-top5 {
        position: relative;
        left: 7%;
        font-size: 60px;
        bottom: 19%;
    }
    
    .home-img-medalha {
        width: 100px;
        height: auto;
        display: flex;
    }
    
    /* Imagens Pokémons */
    .home-img-charizard {
        width: 70%;
    }
    
    .home-img-gengar {
        width: 70%;
    }
    
    .home-img-bulbasaur {
        width: 64%;
    }
    
    .home-img-blaziken {
        width: 50%;
    }
    
    .home-img-umbreon {
        width: 57%;
    }

    .home-div-pokemons-populares {
        width: 81.38%;
        height: 780px;
        background-color: rgba(0, 0, 0, 0.207);
        border-radius: 15px;
        margin: auto;
        display: flex;
        border: 2px solid white;
    }

    .home-div-pokemons-populares-top1 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top2 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top3 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top4 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top5 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-linha {
        position: absolut;
        background-color: transparent;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }

    /* Nóticias */
    
    .home-div-noticias-1 {
        background-color: rgba(66, 129, 231, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 829px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-2 {
        background-color: rgb(241, 174, 190, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 829px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-3 {
        background-color: rgb(224, 155, 210, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 829px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-4 {
        background-color: rgb(176, 225, 255, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 829px;
    }
    
    .home-div-noticias-5 {
        background-color: rgb(191, 220, 234, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 829px;
    }
    
    .home-div-noticias-6 {
        background-color: rgb(240, 228, 130, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 829px;
    }
}

/* Estilos para telas entre 4000px e 4500px de largura */
@media screen and (min-width: 4000px) and (max-width: 5000px) {
    
    h1 {
        font-size: 100px;
    }

    h3 {
        font-size: 60px;
    }

    .home-h2-top5 {
        position: relative;
        left: 7%;
        font-size: 60px;
        bottom: 19%;
    }
    
    .home-img-medalha {
        width: 100px;
        height: auto;
        display: flex;
    }
    
    /* Imagens Pokémons */
    .home-img-charizard {
        width: 70%;
    }
    
    .home-img-gengar {
        width: 70%;
    }
    
    .home-img-bulbasaur {
        width: 64%;
    }
    
    .home-img-blaziken {
        width: 50%;
    }
    
    .home-img-umbreon {
        width: 57%;
    }

    .home-div-pokemons-populares {
        width: 81.38%;
        height: 650px;
        background-color: rgba(0, 0, 0, 0.207);
        border-radius: 15px;
        margin: auto;
        display: flex;
        border: 2px solid white;
    }

    .home-div-pokemons-populares-top1 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top2 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top3 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top4 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top5 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-linha {
        position: absolut;
        background-color: transparent;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }

    /* Nóticias */
    
    .home-div-noticias-1 {
        background-color: rgba(66, 129, 231, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-2 {
        background-color: rgb(241, 174, 190, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-3 {
        background-color: rgb(224, 155, 210, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-4 {
        background-color: rgb(176, 225, 255, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
    }
    
    .home-div-noticias-5 {
        background-color: rgb(191, 220, 234, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
    }
    
    .home-div-noticias-6 {
        background-color: rgb(240, 228, 130, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
    }
}

/* Estilos para telas entre 3500px e 4000px de largura */
@media screen and (min-width: 3500px) and (max-width: 4000px) {
    
    h1 {
        font-size: 100px;
    }

    h3 {
        font-size: 60px;
    }

    .home-h2-top5 {
        position: relative;
        left: 7%;
        font-size: 60px;
        bottom: 19%;
    }
    
    .home-img-medalha {
        width: 100px;
        height: auto;
        display: flex;
    }
    
    /* Imagens Pokémons */
    .home-img-charizard {
        width: 78%;
    }
    
    .home-img-gengar {
        width: 75%;
    }
    
    .home-img-bulbasaur {
        width: 70%;
    }
    
    .home-img-blaziken {
        width: 54%;
    }
    
    .home-img-umbreon {
        width: 63%;
    }

    .home-div-pokemons-populares {
        width: 81.38%;
        height: 600px;
        background-color: rgba(0, 0, 0, 0.207);
        border-radius: 15px;
        margin: auto;
        display: flex;
        border: 2px solid white;
    }

    .home-div-pokemons-populares-top1 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top2 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top3 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top4 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top5 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-linha {
        position: absolut;
        background-color: transparent;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }

    /* Nóticias */
    
    .home-div-noticias-1 {
        background-color: rgba(66, 129, 231, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-2 {
        background-color: rgb(241, 174, 190, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-3 {
        background-color: rgb(224, 155, 210, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-4 {
        background-color: rgb(176, 225, 255, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
    }
    
    .home-div-noticias-5 {
        background-color: rgb(191, 220, 234, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
    }
    
    .home-div-noticias-6 {
        background-color: rgb(240, 228, 130, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
    }
}

/* Estilos para telas entre 3000px e 3500px de largura */
@media screen and (min-width: 3000px) and (max-width: 3500px) {
    
    h1 {
        font-size: 100px;
    }

    h3 {
        font-size: 60px;
    }

    .home-h2-top5 {
        position: relative;
        left: 7%;
        font-size: 60px;
        bottom: 19%;
    }
    
    .home-img-medalha {
        width: 100px;
        height: auto;
        display: flex;
    }
    
    /* Imagens Pokémons */
    .home-img-charizard {
        width: 78%;
    }
    
    .home-img-gengar {
        width: 75%;
    }
    
    .home-img-bulbasaur {
        width: 70%;
    }
    
    .home-img-blaziken {
        width: 54%;
    }
    
    .home-img-umbreon {
        width: 63%;
    }

    .home-div-pokemons-populares {
        width: 81.38%;
        height: 500px;
        background-color: rgba(0, 0, 0, 0.207);
        border-radius: 15px;
        margin: auto;
        display: flex;
        border: 2px solid white;
    }

    .home-div-pokemons-populares-top1 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top2 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top3 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top4 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-populares-top5 {
        width: 24.7%;
        height: 100%;
    }
    
    .home-div-pokemons-linha {
        position: absolut;
        background-color: transparent;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }

    /* Nóticias */
    
    .home-div-noticias-1 {
        background-color: rgba(66, 129, 231, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-2 {
        background-color: rgb(241, 174, 190, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-3 {
        background-color: rgb(224, 155, 210, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-4 {
        background-color: rgb(176, 225, 255, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
    }
    
    .home-div-noticias-5 {
        background-color: rgb(191, 220, 234, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
    }
    
    .home-div-noticias-6 {
        background-color: rgb(240, 228, 130, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 729px;
    }
}

/* Estilos para telas entre 2500px e 3000px de largura */
@media screen and (min-width: 2500px) and (max-width: 3000px) {
    /* Imagens Pokémons */
    .home-img-charizard {
        width: 45%;
    }
    
    .home-img-gengar {
        width: 44%;
    }
    
    .home-img-bulbasaur {
        width: 40.5%;
    }
    
    .home-img-blaziken {
        width: 32%;
    }
    
    .home-img-umbreon {
        width: 36%;
    }

    /* Letreiro */

    .home-h2-top5 {
        position: relative;
        left: 7%;
        bottom: 19%;
        font-size: 32px;
    }
}

/* Estilos para telas entre 2000px e 2500px de largura */
@media screen and (min-width: 2000px) and (max-width: 2500px) {
    /* Imagens Pokémons */
    .home-img-charizard {
        width: 54%;
    }
    
    .home-img-gengar {
        width: 53%;
    }
    
    .home-img-bulbasaur {
        width: 49%;
    }
    
    .home-img-blaziken {
        width: 38%;
    }
    
    .home-img-umbreon {
        width: 44%;
    }
}

/* Estilos para telas entre 1540px e 2000px de largura */
@media screen and (min-width: 1540px) and (max-width: 2000px) {
    /* Imagens Pokémons */
    .home-img-charizard {
        width: 68%;
    }
    
    .home-img-gengar {
        width: 67%;
    }
    
    .home-img-bulbasaur {
        width: 62%;
    }
    
    .home-img-blaziken {
        width: 49%;
    }
    
    .home-img-umbreon {
        width: 55%;
    }
}

/* Estilos para telas entre 1600px e 1200px de largura */
@media screen and (min-width: 1000px) and (max-width: 1200px) {
    /* Imagens Pokémons */
    .home-img-charizard {
        width: 100%;
    }
    
    .home-img-gengar {
        width: 100%;
    }
    
    .home-img-bulbasaur {
        width: 93%;
    }
    
    .home-img-blaziken {
        width: 80%;
    }
    
    .home-img-umbreon {
        width: 90%;
    }

    /* Letreiro */

    .home-h2-top5 {
        position: relative;
        left: 7%;
        bottom: 19%;
        font-size: 21px;
    }
}

/* Estilos para telas entre 850px e 1000px de largura */
@media screen and (min-width: 850px) and (max-width: 1000px) {
    /* Imagens Pokémons */
    .home-img-charizard {
        width: 92%;
    }
    
    .home-img-gengar {
        width: 89%;
    }
    
    .home-img-bulbasaur {
        width: 83%;
    }
    
    .home-img-blaziken {
        width: 64%;
    }
    
    .home-img-umbreon {
        width: 74%;
    }

    .home-div-pokemons-populares {
        width: 813.80px;
        height: 81.38%;
        background-color: rgba(0, 0, 0, 0.207);
        border-radius: 15px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        border: none;
        border-left: 2px solid white;
    }

    .home-div-pokemons-populares-top1 {
        width: 24.7%;
        height: 212.72px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-bottom-left-radius: 0px;
    }
    
    .home-div-pokemons-populares-top2 {
        width: 24.7%;
        height: 212.72px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
    }
    
    .home-div-pokemons-populares-top3 {
        width: 24.7%;
        height: 212.72px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
    }
    
    .home-div-pokemons-populares-top4 {
        width: 24.7%;
        height: 212.72px;
        border-bottom: 2px solid white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top: 2px solid white;
    }
    
    .home-div-pokemons-populares-top5 {
        width: 24.7%;
        height: 212.72px;
        border: 2px solid white;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;
        border-left: none;
        border-top: none;
        
    }
    
    .home-div-pokemons-linha {
        position: absolut;
        background-color: transparent;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        
    }
}

/* Estilos para telas entre 650px e 850px de largura */
@media screen and (min-width: 650px) and (max-width: 850px) {
    /* Imagens Pokémons */
    .home-img-charizard {
        width: 91%;
    }
    
    .home-img-gengar {
        width: 89%;
    }
    
    .home-img-bulbasaur {
        width: 83%;
    }
    
    .home-img-blaziken {
        width: 64%;
    }
    
    .home-img-umbreon {
        width: 74%;
    }

    .home-div-pokemons-populares {
        width: 612.37px;
        height: 81.38%;
        background-color: rgba(0, 0, 0, 0.207);
        border-radius: 15px;
        margin: auto;
        display: flex;
        border: none;
        border-left: 2px solid white;
        flex-wrap: wrap;
    }

    .home-div-pokemons-populares-top1 {
        width: 33%;
        height: 212.72px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-bottom-left-radius: 0px;
    }
    
    .home-div-pokemons-populares-top2 {
        width: 33%;
        height: 212.72px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
    }
    
    .home-div-pokemons-populares-top3 {
        width: 33%;
        height: 212.72px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .home-div-pokemons-populares-top4 {
        width: 33%;
        height: 212.72px;
        border-bottom: 2px solid white;
        border-bottom-left-radius: 15px;
    }
    
    .home-div-pokemons-populares-top5 {
        width: 33%;
        height: 212.72px;
        border: 2px solid white;
        border-top-right-radius: 0px;
        border-left: none;
        border-top: none;
        
    }
    
    .home-div-pokemons-linha {
        position: absolut;
        background-color: transparent;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        
    }

    /* Nóticias */

    .home-div-conteudo-noticias {
        text-align: center;
        padding: 20px;
        /* Altera a margem de todo conteudo */
    }
    
    .home-div-noticias {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: flex-start;
        height: 520px;
    
    }
    
    .home-img-noticia {
        width: 70%;
    }
    
    .home-div-noticias-1 {
        background-color: rgba(66, 129, 231, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 47.67%;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-2 {
        background-color: rgb(241, 174, 190, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 47.67%;
        margin-bottom: 3%;
        
    }
    
    .home-div-noticias-3 {
        background-color: rgb(224, 155, 210, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 47.67%;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-4 {
        background-color: rgb(176, 225, 255, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 47.67%;
    }
    
    .home-div-noticias-5 {
        background-color: rgb(191, 220, 234, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 47.67%;
    }
    
    .home-div-noticias-6 {
        background-color: rgb(240, 228, 130, 0.322);
        border: 2px solid white;
        width: 30%;
        height: 47.67%;
    }
    
}

/* Estilos para telas entre 500px e 650px de largura */
@media screen and (min-width: 500px) and (max-width: 650px) {
    /* Imagens Pokémons */
    .home-img-charizard {
        width: 91%;
    }
    
    .home-img-gengar {
        width: 89%;
    }
    
    .home-img-bulbasaur {
        width: 83%;
    }
    
    .home-img-blaziken {
        width: 64%;
    }
    
    .home-img-umbreon {
        width: 72%;
    }

    .home-div-pokemons-populares {
        width: 410.29px;
        height: 81.38%;
        background-color: rgba(0, 0, 0, 0.207);
        border-radius: 15px;
        margin: auto;
        display: flex;
        border: none;
        border-left: 2px solid white;
        flex-wrap: wrap;
    }

    .home-div-pokemons-populares-top1 {
        width: 49.5%;
        height: 212.72px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-bottom-left-radius: 0px;
    }
    
    .home-div-pokemons-populares-top2 {
        width: 49.5%;
        height: 212.72px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        border-top-right-radius: 15px;
        border-top: 2px solid white;
    }
    
    .home-div-pokemons-populares-top3 {
        width: 49.5%;
        height: 212.72px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }
    
    .home-div-pokemons-populares-top4 {
        width: 49.5%;
        height: 212.72px;
        border-bottom: 2px solid white;
        border-bottom-right-radius: 15px;
    }
    
    .home-div-pokemons-populares-top5 {
        width: 49.5%;
        height: 212.72px;
        border: 2px solid white;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
        border-left: none;
        border-top: none;
        
    }
    
    .home-div-pokemons-linha {
        position: absolut;
        background-color: transparent;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        
    }

    /* Nóticias */

    .home-div-conteudo-noticias {
        text-align: center;
        padding: 20px;
        /* Altera a margem de todo conteudo */
    }
    
    .home-div-noticias {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: flex-start;
        height: auto;
    
    }
    
    .home-img-noticia {
        width: 85%;
    }
    
    .home-div-noticias-1 {
        background-color: rgba(66, 129, 231, 0.322);
        border: 2px solid white;
        width: 45%;
        height: 265.3px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-2 {
        background-color: rgb(241, 174, 190, 0.322);
        border: 2px solid white;
        width: 45%;
        height: 265.3px;
        margin-bottom: 3%;
        
    }
    
    .home-div-noticias-3 {
        background-color: rgb(224, 155, 210, 0.322);
        border: 2px solid white;
        width: 45%;
        height: 265.3px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-4 {
        background-color: rgb(176, 225, 255, 0.322);
        border: 2px solid white;
        width: 45%;
        height: 265.3px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-5 {
        background-color: rgb(191, 220, 234, 0.322);
        border: 2px solid white;
        width: 45%;
        height: 265.3px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-6 {
        background-color: rgb(240, 228, 130, 0.322);
        border: 2px solid white;
        width: 45%;
        height: 265.3px;
        margin-bottom: 3%;
    }
    
}

/* Estilos para telas entre 320px e 500px de largura */
@media screen and (min-width: 320px) and (max-width: 500px) {
    /* Imagens Pokémons */
    .home-img-charizard {
        width: 91%;
    }
    
    .home-img-gengar {
        width: 89%;
    }
    
    .home-img-bulbasaur {
        width: 83%;
    }
    
    .home-img-blaziken {
        width: 64%;
    }
    
    .home-img-umbreon {
        width: 72%;
    }

    .home-div-pokemons-populares {
        width: 205.15px;
        height: 81.38%;
        background-color: rgba(0, 0, 0, 0.207);
        border-radius: 15px;
        margin: auto;
        display: flex;
        border: none;
        border-left: 2px solid white;
        flex-wrap: wrap;
    }

    .home-div-pokemons-populares-top1 {
        width: 100%;
        height: 212.72px;
        border-top: 2px solid white;
        border-top-right-radius: 15px;
    }
    
    .home-div-pokemons-populares-top2 {
        width: 100%;
        height: 212.72px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
    }
    
    .home-div-pokemons-populares-top3 {
        width: 100%;
        height: 212.72px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }
    
    .home-div-pokemons-populares-top4 {
        width: 100%;
        height: 212.72px;
        border-bottom: 2px solid white;
    }
    
    .home-div-pokemons-populares-top5 {
        width: 100%;
        height: 212.72px;
        border: 2px solid white;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
        border-left: none;
        border-top: none;
        
    }
    
    .home-div-pokemons-linha {
        position: absolut;
        background-color: transparent;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: center;   
    }

    .home-h2-top5 {
        position: relative;
        left: 7%;
        bottom: 0%;
    }

    /* Nóticias */

    .home-div-conteudo-noticias {
        text-align: center;
        padding: 20px;
        /* Altera a margem de todo conteudo */
    }
    
    .home-div-noticias {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: flex-start;
        height: auto;
    
    }
    
    .home-img-noticia {
        width: 65%;
    }
    
    .home-div-noticias-1 {
        background-color: rgba(66, 129, 231, 0.322);
        border: 2px solid white;
        width: 100%;
        height: 265.3px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-2 {
        background-color: rgb(241, 174, 190, 0.322);
        border: 2px solid white;
        width: 100%;
        height: 265.3px;
        margin-bottom: 3%;
        
    }
    
    .home-div-noticias-3 {
        background-color: rgb(224, 155, 210, 0.322);
        border: 2px solid white;
        width: 100%;
        height: 265.3px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-4 {
        background-color: rgb(176, 225, 255, 0.322);
        border: 2px solid white;
        width: 100%;
        height: 265.3px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-5 {
        background-color: rgb(191, 220, 234, 0.322);
        border: 2px solid white;
        width: 100%;
        height: 265.3px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-6 {
        background-color: rgb(240, 228, 130, 0.322);
        border: 2px solid white;
        width: 100%;
        height: 265.3px;
        margin-bottom: 3%;
    }
}

/* Estilos para telas entre 0px e 320px de largura */
@media screen and (min-width: 0px) and (max-width: 320px) {
    
    h1 {
        font-size: 30px;
    }

    /* Imagens Pokémons */
    .home-img-charizard {
        width: 91%;
    }
    
    .home-img-gengar {
        width: 89%;
    }
    
    .home-img-bulbasaur {
        width: 83%;
    }
    
    .home-img-blaziken {
        width: 64%;
    }
    
    .home-img-umbreon {
        width: 72%;
    }

    .home-div-pokemons-populares {
        width: 205.15px;
        height: 81.38%;
        background-color: rgba(0, 0, 0, 0.207);
        border-radius: 15px;
        margin: auto;
        display: flex;
        border: none;
        border-left: 2px solid white;
        flex-wrap: wrap;
    }

    .home-div-pokemons-populares-top1 {
        width: 100%;
        height: 212.72px;
        border-top: 2px solid white;
        border-top-right-radius: 15px;
    }
    
    .home-div-pokemons-populares-top2 {
        width: 100%;
        height: 212.72px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
    }
    
    .home-div-pokemons-populares-top3 {
        width: 100%;
        height: 212.72px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }
    
    .home-div-pokemons-populares-top4 {
        width: 100%;
        height: 212.72px;
        border-bottom: 2px solid white;
    }
    
    .home-div-pokemons-populares-top5 {
        width: 100%;
        height: 212.72px;
        border: 2px solid white;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
        border-left: none;
        border-top: none;
        
    }
    
    .home-div-pokemons-linha {
        position: absolut;
        background-color: transparent;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: center;   
    }

    .home-h2-top5 {
        position: relative;
        left: 7%;
        bottom: 0%;
    }

    /* Nóticias */

    .home-div-conteudo-noticias {
        text-align: center;
        padding: 20px;
        /* Altera a margem de todo conteudo */
    }
    
    .home-div-noticias {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: flex-start;
        height: auto;
    
    }
    
    .home-img-noticia {
        width: 85%;
    }
    
    .home-div-noticias-1 {
        background-color: rgba(66, 129, 231, 0.322);
        border: 2px solid white;
        width: 100%;
        height: 265.3px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-2 {
        background-color: rgb(241, 174, 190, 0.322);
        border: 2px solid white;
        width: 100%;
        height: 265.3px;
        margin-bottom: 3%;
        
    }
    
    .home-div-noticias-3 {
        background-color: rgb(224, 155, 210, 0.322);
        border: 2px solid white;
        width: 100%;
        height: 265.3px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-4 {
        background-color: rgb(176, 225, 255, 0.322);
        border: 2px solid white;
        width: 100%;
        height: 265.3px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-5 {
        background-color: rgb(191, 220, 234, 0.322);
        border: 2px solid white;
        width: 100%;
        height: 265.3px;
        margin-bottom: 3%;
    }
    
    .home-div-noticias-6 {
        background-color: rgb(240, 228, 130, 0.322);
        border: 2px solid white;
        width: 100%;
        height: 265.3px;
        margin-bottom: 3%;
    }
}