.login-div-principal {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgb(18, 18, 20);
  overflow: hidden; /* Impede que haja barra de rolagem vertical */
}


.login-div-direito {
  margin-top: 2%;
  width: 40%;
  height: 90%;
  background-color: rgb(255, 247, 210);
  justify-content: center;
  align-items: center;
  display: flex;
  border-bottom-right-radius: 135px;
  border-top-right-radius: 135px;
}

.login-div-esquerdo {
  width: 60%;
  height: 100%;
  background-color: rgb(18, 18, 20);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-div-conteudo-direito {
  margin: 5%;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.login-div-conteudo-esquerdo{
  bottom: 10%;
  position: relative;
  width: 60%;
  height: 67%;
  background-color: rgb(255, 247, 210);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 35px;
  z-index: 1;
}

.login-img-pikachu {
  width: 60%;
}

.login-label {
  display: block;
  color: black;
  margin-bottom: 5px;
  font-family: 'Chakra Petch', Courier, monospace;
  font-weight: 700;
}

.login-input {
  font-family: 'Chakra Petch', Courier, monospace;
  font-weight: 300;
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 20px;
}

.login-img-logo-pokedex{
  width: 40%;
  position: relative;
  bottom: 2%;
  z-index: 2;
}

/* Estilos para telas entre 4000px e 4500px de largura */
@media screen and (min-width: 5000px) and (max-width: 6000px) {

  .login-label {
    display: block;
    color: black;
    margin-bottom: 5px;
    font-family: 'Chakra Petch', Courier, monospace;
    font-weight: 700;
    font-size: 200px;
  }
  
  .login-input {
    font-family: 'Chakra Petch', Courier, monospace;
    font-weight: 300;
    width: 100%;
    height: 150px;
    padding: 13px;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 100px;
  }

  .login-div-form{
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  
  .login-div-conteudo-esquerdo h4{
    font-size: 45px;
  }

  .login-div-conteudo-esquerdo .btn-paginas{
    height: 150px;
  }

}

/* Estilos para telas entre 4000px e 4500px de largura */
@media screen and (min-width: 4000px) and (max-width: 5000px) {

  .login-label {
    display: block;
    color: black;
    margin-bottom: 5px;
    font-family: 'Chakra Petch', Courier, monospace;
    font-weight: 700;
    font-size: 200px;
  }
  
  .login-input {
    font-family: 'Chakra Petch', Courier, monospace;
    font-weight: 300;
    width: 100%;
    height: 150px;
    padding: 13px;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 100px;
  }

  .login-div-form{
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  
  .login-div-conteudo-esquerdo h4{
    font-size: 45px;
  }

  .login-div-conteudo-esquerdo .btn-paginas{
    height: 150px;
    font-size: 100px;
  }

}

/* Estilos para telas entre 3500px e 4000px de largura */
@media screen and (min-width: 3500px) and (max-width: 4000px) {
    
  .login-label {
    display: block;
    color: black;
    margin-bottom: 5px;
    font-family: 'Chakra Petch', Courier, monospace;
    font-weight: 700;
    font-size: 130px;
  }
  
  .login-input {
    font-family: 'Chakra Petch', Courier, monospace;
    font-weight: 300;
    width: 100%;
    height: 100px;
    padding: 13px;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 80px;
  }

  .login-div-form{
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  
  .login-div-conteudo-esquerdo h4{
    font-size: 40px;
  }

  .login-div-conteudo-esquerdo .btn-paginas{
    height: 150px;
    font-size: 100px;
  }

}

/* Estilos para telas entre 3000px e 3500px de largura */
@media screen and (min-width: 3000px) and (max-width: 3500px) {
    
  .login-label {
    display: block;
    color: black;
    margin-bottom: 5px;
    font-family: 'Chakra Petch', Courier, monospace;
    font-weight: 700;
    font-size: 100px;
  }
  
  .login-input {
    font-family: 'Chakra Petch', Courier, monospace;
    font-weight: 300;
    width: 100%;
    height: 100px;
    padding: 13px;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 60px;
  }

  .login-div-form{
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  
  .login-div-conteudo-esquerdo h4{
    font-size: 30px;
  }

  .login-div-conteudo-esquerdo .btn-paginas{
    height: 100px;
    font-size: 60px;
  }

}

/* Estilos para telas entre 2500px e 3000px de largura */
@media screen and (min-width: 2500px) and (max-width: 3000px) {
    
}

/* Estilos para telas entre 2000px e 2500px de largura */
@media screen and (min-width: 2000px) and (max-width: 2500px) {
    
}

/* Estilos para telas entre 1540px e 2000px de largura */
@media screen and (min-width: 1540px) and (max-width: 2000px) {
    
}

/* Estilos para telas entre 1600px e 1200px de largura */
@media screen and (min-width: 1000px) and (max-width: 1200px) {
    
}

/* Estilos para telas entre 850px e 1000px de largura */
@media screen and (min-width: 850px) and (max-width: 1000px) {
    
}

/* Estilos para telas entre 650px e 850px de largura */
@media screen and (min-width: 650px) and (max-width: 850px) {
    
}

/* Estilos para telas entre 500px e 650px de largura */
@media screen and (min-width: 500px) and (max-width: 650px) {

}

/* Estilos para telas entre 320px e 500px de largura */
@media screen and (min-width: 320px) and (max-width: 500px) {
    
}

/* Estilos para telas entre 0px e 320px de largura */
@media screen and (min-width: 0px) and (max-width: 320px) {
    
}

